/* Scope - DOM - Event Mini Challenges */

body {
	font-family: Helvetica Neue, sans-serif;
	text-align: center;
	margin-top: 150px;

}

.container{
	margin: 0 auto;
	width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
	font-size: 80px;
	font-weight: 100;

}

h2 {
	font-size: 80px;
	font-weight: 800;

}

a {
	font-size: 30px;
	font-weight: 100;
	text-decoration: none;
	margin: 70px;

}

a:hover {
	opacity: .4;
	transition: .5s;

}

button {
	text-align: center;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit] {
    width: 100%;
    background-color: #d3d3d3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #d9d9d9;

}
